body {
    display: grid;
    height: 100vh;
}
header {
    background: lightseagreen;
    padding: 2rem;
    grid-column: 1/4;
}
nav {
    margin: 0 auto 2rem;
    max-width: 90vw;
}

.modern a {
    flex: 1 1 110%;
}

.navigation {
    display: flex;
    list-style-type: none;
    background-color: blueviolet;
    align-items: center;

}
.navigation li {
    flex: 1 1 auto;
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
/* 	border: 1px dotted cyan; */
}
.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

.wrap {
		flex-wrap: wrap;
}

p {
	text-align: center;
	font-size: smaller;
}