
:root{
    --main-background-color : blue;
    --second-background-color: red;
}
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
  }
body{
   
    font-family: 'Roboto', sans-serif;
    max-width: 740px;
}

h1, h2{
    text-align: center;
    padding: 15px;
   
}

h1{
    background-color: var(--main-background-color);
    color: white;
    height: 60px;
    
}


.hero img {
    border-top: 5px solid red;
    max-width: 100%;
    height: auto;
    margin: 0 auto;

   
    
    
   
  }

.weather-icon{
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 80px;
    
    
}
.text{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
} 
.label{
    text-align: right;
    flex: 1;
    font-weight: bold;
    padding-right: 10px;
    line-height: 1.5;
    font-size: small;
}
.data{
    text-align: left;
    flex: 1;
    line-height: 1.5;
    font-size: small;
    
  
}

footer{
    background-color: var(--main-background-color);
    padding: 20px;
    color: white;
    text-align: center;
    line-height: 25px;
    
}






/* Larger Views ******************************/
@media (min-width: 740px) {
    * {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0;
      }
body{
    
    margin: 0 auto;
    max-width: 1000px;
}

.hero img {
    border-top: 25px solid red;
    width: 1000px;
    height: auto;
    max-width: 1000px;
    object-fit: cover;
    
  }


.data-container{
    background-color:white;
    opacity: 0.8;
    position: absolute;
    top: 150px;
    left: 300px;
    padding: 20px;
    
    
}
.weather-container{
    background-color:white;
    opacity: 0.8;
    position: absolute;
    right: 300px;
    bottom:10px;
    padding: 20px;
    width: 250px;
  
  
   
}
h2{
    background-color: var(--second-background-color);
    color: black;
    border-left: 10px solid red;
    position: relative;
    top:-10px;
    left: -50px;
    text-align: left;
    padding: 10px;
}
.weather-icon{
    display: none;
}
h2#weather-heading::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: URL('../images/weather-icon.svg');
    margin-left: 10px;
    vertical-align: middle;
    
  
  
}



}